<section class="sectionOne">       
  <form class="seriesSearch" action="">
    <label for="seriesSearch" class="seriesSearch__label">Buscador de series</label>
    <input type="text" placeholder="Introduce serie aquí" class="js-inputSearch seriesSearch__input" id="seriesSearch">
    <input type="button" class="js-btnSearch seriesSearch__button" value="Search">
  </form>
    <aside class="favorites" >
      <h2 class="favoritesTitle">Mis series favoritas</h2>
      <ul class="js-favoriteList favoritesList"></ul>
      <button class="js-favoritesBtn favoritesBtn">Reset</button>
    </aside>      
</section>