.sectionOne {
  width: 250px;
}
.favorites {
  text-align: center;
}
.favoritesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__item {
    margin: 10px 75px;
    &--img {
      height: 140px;
      width: 100px;
    }
  }
}
