.sectionOne {
  width: 300px;
  margin-left: 10px;
}
.favorites {
  margin-top: 20px;
  color: white;
  display: inline-block;
  text-align: center;
}
.favoritesTitle {
  text-align: center;
  width: 300px;
  @media all and (min-width: 768px) {
    text-align: center;
  }
}
.favoritesList {
  display: grid;
  grid-template-columns: 140px 140px;
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 5px 0 5px;
    margin: 10px;
    border: black solid 1px;
    color: white;
    font-size: 14px;
    &--img {
      height: 120px;
      width: 85px;
      border: black solid 1px;
    }
  }
}
.fa-times-circle {
  cursor: pointer;
  padding: 5px;
}
.favoritesBtn {
  width: 70px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 600;
  border: black solid 1px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
}
