.seriesList {
  display: grid;
  grid-template-columns: 130px 130px;
  grid-template-rows: 200px 200px 200px 200px;
  grid-gap: 10px;
  margin-left: 16px;

  @media all and (min-width: 768px) {
    grid-template-columns: 180px 180px;
    grid-template-rows: 280px 280px 280px 280px;
    grid-gap: 10px;
    margin-right: 20px;
  }
  @media all and (min-width: 1200px) {
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 280px 280px;
    grid-gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    border: black solid 1px;
    text-align: center;
    list-style: none;
    @media all and (min-width: 768px) {
      padding: 5px;
    }
    &--titleSerie {
      font-size: 14px;
      text-transform: uppercase;
      @media all and (min-width: 768px) {
        font-size: 18px;
      }
    }
    &--poster {
      width: 100px;
      border: black solid 1px;
      @media all and (min-width: 768px) {
        width: 150px;
      }
    }
    &--statusSerie {
      padding: 3px;
      @media all and (min-width: 768px) {
        padding: 0;
      }
    }
  }
}
.favoriteSearch {
  background-color: red;
}
