@import "core/reset";
@import "layout/favoriteList";
@import "layout/seriesList";
@import "layout/search";

.search {
  // background-image: url("/assets/images/cover_series.jpg");
  // opacity: 0.2;
  background-color: rgb(77, 74, 74);
  display: flex;
  padding: 130px 0 20px 0;
}
.title {
  font-size: 50px;
  background-color: black;
  color: red;
  text-align: center;
  padding: 20px 0 20px 0;
  position: fixed;
  width: 100vw;
}
